/* form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  #country-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  #fun-fact {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Add some styling for the map image */
  /*#map-image {
    width: 50%;
    height: auto;
  } */
